<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="ayrshire minis, ayrshire mini, ayrshire, mini, cooper, rover, clubman, bmw, ayr, mauchline, kilmarnock, chat, forum, gallery, english, new mini, mini cooper, contact us, links">
    <meta name="description" content="a place for Mini enthusiasts to meet and discuss about all things Mini">
    <meta name="revisit-after" content="14 days">
    <meta name="robots" content="all">
    <meta name="Author" content="Craig Richard Morton - Senior PHP Analyst/Programmer">
    <meta name="Copyright" content="AyrshireMinis.com 2007">

    <title>{% block title %}Ayrshire Minis - an online Mini E-Community Forum for enthusiasts of the Mini{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ asset('css/superhero.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/full-width-pics.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/bootswatch.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">

    {#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-image-gallery.min.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('assetic/bootstrap_js.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ayrshire_minis.js') }}"></script>


    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{{ asset('js/bootstrap-image-gallery.min.js') }}"></script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

</head>

<body>

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

<div class="container">
    {% block main %}{% endblock %}
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
</div>


</body>
</html>