{% extends "::base.html.twig" %}

{% block main %}

    <div class="hidden" id="page_heading" data-page-heading="more minis"></div>

    <p>If you are interested in all things "Mini" then here are a handful of partner sites that I would recommend. All
        links will open in a new window or tab.</p>

    <table class="table table-striped table-hover ">
        <tbody>
        {% for link in links %}
            <tr onclick="var win = window.open('http://{{ link.url }}', '_blank'); win.focus();">
                <td>&nbsp;</td>
                <td>{{ link.name }}</td>
                <td>{{ link.url }}</td>
                <td>{{ link.description }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-xs link_go">Go</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>If you would like your site added here then please <a href="{{ url('ayrshireminis_contact') }}">get in touch</a>.</p>

    {% include 'partials/adsense.html.twig' %}

{% endblock %}



